
<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" name="viewport">

  <title>Contact Us – Niantic</title>


  <link rel="canonical" href="https://nianticlabs.com/en/contact/">

  <link href="https://nianticlabs.com/de/contact/" hreflang="de" rel="alternate">
  <link href="https://nianticlabs.com/en/contact/" hreflang="en" rel="alternate">
  <link href="https://nianticlabs.com/es/contact/" hreflang="es" rel="alternate">
  <link href="https://nianticlabs.com/fr/contact/" hreflang="fr" rel="alternate">
  <link href="https://nianticlabs.com/it/contact/" hreflang="it" rel="alternate">
  <link href="https://nianticlabs.com/ja/contact/" hreflang="ja" rel="alternate">
  <link href="https://nianticlabs.com/ko/contact/" hreflang="ko" rel="alternate">
  <link href="https://nianticlabs.com/pt_br/contact/" hreflang="pt-br" rel="alternate">
  <link href="https://nianticlabs.com/zh_hant/contact/" hreflang="zh-hant" rel="alternate">

  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/old.min.css">
<link rel="stylesheet" href="/main.min.css">


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-touch.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
  <script src="/js/main.min.js"></script>

  <link href="https://storage.googleapis.com/nianticweb-branding/niantic/niantic-favicon-black.png" rel="shortcut icon">



    <meta content="Contact Us - Niantic" property="og:title">
    <meta content="https://storage.googleapis.com/nianticweb-branding/niantic/niantic-og.jpg" property="og:image">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://nianticlabs.com/en/contact/">
  <meta property="og:site_name" content="Niantic">

  <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Contact Us - Niantic">
    <meta name="twitter:image" content="https://storage.googleapis.com/nianticweb-branding/niantic/niantic-og.jpg">
</head>

<body class="body body--bk1 body--nav-padded">
  <div class="form-overlay">
    <div class="form-overlay__inner">
      <svg class="form-overlay__circle"viewBox="25 25 50 50" >
        <circle class="form-overlay__path" cx="50" cy="50" r="20" fill="none" stroke="#DF471C" stroke-width="2" />
      </svg>
    </div>
  </div>

  <main role="main" class="main ">
<header class="header" data-component="Header">
<div class="header__background"></div>
<div class="header__content" content>
<a class="header__skipLink" href="#main">Skip to main content</a>
<button class="header__toggle tablet-lt" aria-expanded="false" aria-label="Toggle menu" data-nav-target="button" toggle>
<span></span>
<span></span>
<span></span>
</button>
<div class="header__logo">
<a href="/" aria-label="Visit the Niantic home page">
<nl-icon name="logo-niantic" size="auto"></nl-icon>
</a>
</div>
<nav class="header__nav laptop-gt" nav>
<ul class="header__nav__items">
<li class="header__nav__items__item" nav-item>
<nl-button class="header__nav__items__item__button" label="About" variant="nav"></nl-button>
<div class="header__nav__items__dropdown" dropdown>
<nl-heading size="h4-md" class="header__nav__items__dropdown__title" dropdown-title>
Get to know us
</nl-heading>
<ul class="header__nav__items__dropdown__links">
<li>
<nl-button class="header__nav__items__dropdown__links__link" label="The Niantic Story" variant="nav" href="/about" color="text" inline="true"></nl-button>
</li>
<li>
<nl-button class="header__nav__items__dropdown__links__link" label="Social Impact" variant="nav" href="/social-impact" color="text" inline="true"></nl-button>
</li>
<li>
<nl-button class="header__nav__items__dropdown__links__link" label="Research" variant="nav" href="https://research.nianticlabs.com" color="text" icon="arrow-external" inline="true"></nl-button>
</li>
<li>
<nl-button class="header__nav__items__dropdown__links__link" label="News &amp; Events" variant="nav" href="/news" color="text" inline="true"></nl-button>
</li>
<li>
<nl-button class="header__nav__items__dropdown__links__link" label="Careers" variant="nav" href="/careers" color="text" icon="arrow-external" inline="true"></nl-button>
</li>
</ul>
</div>
</li>
<li class="header__nav__items__item" nav-item>
<nl-button class="header__nav__items__item__button" label="Careers" variant="nav"></nl-button>
<div class="header__nav__items__dropdown" dropdown>
<nl-heading size="h4-md" class="header__nav__items__dropdown__title" dropdown-title>
Work with us
</nl-heading>
<ul class="header__nav__items__dropdown__links">
<li>
<nl-button class="header__nav__items__dropdown__links__link" label="Life at Niantic" variant="nav" href="/careers" color="text" icon="arrow-external" inline="true"></nl-button>
</li>
<li>
<nl-button class="header__nav__items__dropdown__links__link" label="Diversity &amp; Inclusion" variant="nav" href="/careers/diversity" color="text" icon="arrow-external" inline="true"></nl-button>
</li>
<li>
<nl-button class="header__nav__items__dropdown__links__link" label="Open Positions" variant="nav" href="/careers/openings" color="text" icon="arrow-external" inline="true"></nl-button>
</li>
</ul>
</div>
</li>
<li class="header__nav__items__item" nav-item>
<nl-button class="header__nav__items__item__button" label="Developers" variant="nav"></nl-button>
<div class="header__nav__items__dropdown" dropdown>
<nl-heading size="h4-md" class="header__nav__items__dropdown__title" dropdown-title>
Create with us
</nl-heading>
<ul class="header__nav__items__dropdown__links">
<li>
<nl-button class="header__nav__items__dropdown__links__link" label="Lightship" variant="nav" href="https://lightship.dev" color="text" icon="arrow-external" inline="true"></nl-button>
</li>
<li>
<nl-button class="header__nav__items__dropdown__links__link" label="8th Wall" variant="nav" href="https://8thwall.com" color="text" icon="arrow-external" inline="true"></nl-button>
</li>
</ul>
</div>
</li>
<li class="header__nav__items__item" nav-item>
<nl-button class="header__nav__items__item__button" label="Products" variant="nav"></nl-button>
<div class="header__nav__items__dropdown" dropdown>
<nl-heading size="h4-md" class="header__nav__items__dropdown__title" dropdown-title>
Explore with us
</nl-heading>
<ul class="header__nav__items__dropdown__links">
<li>
<nl-button class="header__nav__items__dropdown__links__link" label="Our Products" variant="nav" href="/products" color="text" inline="true"></nl-button>
</li>
<li>
<nl-button class="header__nav__items__dropdown__links__link" label="Lightship" variant="nav" href="https://lightship.dev" color="text" icon="arrow-external" inline="true"></nl-button>
</li>
<li>
<nl-button class="header__nav__items__dropdown__links__link" label="Niantic Wayfarer" variant="nav" href="https://wayfarer.nianticlabs.com" color="text" icon="arrow-external" inline="true"></nl-button>
</li>
<li>
<nl-button class="header__nav__items__dropdown__links__link" label="Product Support" variant="nav" href="/support" color="text" inline="true"></nl-button>
</li>
</ul>
</div>
</li>
</ul>
</nav>
<nav class="header__menu tablet-lt">
<ul class="header__menu__items" menu>
<li class="header__menu__items__item">
<details>
<summary class="header__menu__items__item__button">
<nl-button class="header__menu__items__item__button" label="About" variant="nav-menu" icon="caret-right"></nl-button>
</summary>
<dialog class="header__menu__items__submenu">
<nl-heading color="gray-50" class="header__menu__items__submenu__title">
Get to know us
</nl-heading>
<ul class="header__menu__items__submenu__links">
<li>
<nl-button class="header__menu__items__submenu__links__heading" label="About" variant="nav-menu" color="nds-gray-90" icon="caret-left" direction="rtl" close-submenu></nl-button>
</li>
<li>
<nl-button class="header__menu__items__submenu__links__link" label="The Niantic Story" variant="nav" href="/about"></nl-button>
</li>
<li>
<nl-button class="header__menu__items__submenu__links__link" label="Social Impact" variant="nav" href="/social-impact"></nl-button>
</li>
<li>
<nl-button class="header__menu__items__submenu__links__link" label="Research" variant="nav" href="https://research.nianticlabs.com" icon="arrow-external"></nl-button>
</li>
<li>
<nl-button class="header__menu__items__submenu__links__link" label="News &amp; Events" variant="nav" href="/news"></nl-button>
</li>
<li>
<nl-button class="header__menu__items__submenu__links__link" label="Careers" variant="nav" href="/careers" icon="arrow-external"></nl-button>
</li>
</ul>
</dialog>
</details>
</li>
<li class="header__menu__items__item">
<details>
<summary class="header__menu__items__item__button">
<nl-button class="header__menu__items__item__button" label="Careers" variant="nav-menu" icon="caret-right"></nl-button>
</summary>
<dialog class="header__menu__items__submenu">
<nl-heading color="gray-50" class="header__menu__items__submenu__title">
Work with us
</nl-heading>
<ul class="header__menu__items__submenu__links">
<li>
<nl-button class="header__menu__items__submenu__links__heading" label="Careers" variant="nav-menu" color="nds-gray-90" icon="caret-left" direction="rtl" close-submenu></nl-button>
</li>
<li>
<nl-button class="header__menu__items__submenu__links__link" label="Life at Niantic" variant="nav" href="/careers" icon="arrow-external"></nl-button>
</li>
<li>
<nl-button class="header__menu__items__submenu__links__link" label="Diversity &amp; Inclusion" variant="nav" href="/careers/diversity" icon="arrow-external"></nl-button>
</li>
<li>
<nl-button class="header__menu__items__submenu__links__link" label="Open Positions" variant="nav" href="/careers/openings" icon="arrow-external"></nl-button>
</li>
</ul>
</dialog>
</details>
</li>
<li class="header__menu__items__item">
<details>
<summary class="header__menu__items__item__button">
<nl-button class="header__menu__items__item__button" label="Developers" variant="nav-menu" icon="caret-right"></nl-button>
</summary>
<dialog class="header__menu__items__submenu">
<nl-heading color="gray-50" class="header__menu__items__submenu__title">
Create with us
</nl-heading>
<ul class="header__menu__items__submenu__links">
<li>
<nl-button class="header__menu__items__submenu__links__heading" label="Developers" variant="nav-menu" color="nds-gray-90" icon="caret-left" direction="rtl" close-submenu></nl-button>
</li>
<li>
<nl-button class="header__menu__items__submenu__links__link" label="Lightship" variant="nav" href="https://lightship.dev" icon="arrow-external"></nl-button>
</li>
<li>
<nl-button class="header__menu__items__submenu__links__link" label="8th Wall" variant="nav" href="https://8thwall.com" icon="arrow-external"></nl-button>
</li>
</ul>
</dialog>
</details>
</li>
<li class="header__menu__items__item">
<details>
<summary class="header__menu__items__item__button">
<nl-button class="header__menu__items__item__button" label="Products" variant="nav-menu" icon="caret-right"></nl-button>
</summary>
<dialog class="header__menu__items__submenu">
<nl-heading color="gray-50" class="header__menu__items__submenu__title">
Explore with us
</nl-heading>
<ul class="header__menu__items__submenu__links">
<li>
<nl-button class="header__menu__items__submenu__links__heading" label="Products" variant="nav-menu" color="nds-gray-90" icon="caret-left" direction="rtl" close-submenu></nl-button>
</li>
<li>
<nl-button class="header__menu__items__submenu__links__link" label="Our Products" variant="nav" href="/products"></nl-button>
</li>
<li>
<nl-button class="header__menu__items__submenu__links__link" label="Lightship" variant="nav" href="https://lightship.dev" icon="arrow-external"></nl-button>
</li>
<li>
<nl-button class="header__menu__items__submenu__links__link" label="Niantic Wayfarer" variant="nav" href="https://wayfarer.nianticlabs.com" icon="arrow-external"></nl-button>
</li>
<li>
<nl-button class="header__menu__items__submenu__links__link" label="Product Support" variant="nav" href="/support"></nl-button>
</li>
</ul>
</dialog>
</details>
</li>
</ul>
</nav>
<div class="header__aside">
<nl-button class="header__aside__button" label="Join us" variant="filled" href="/careers" color="red" nowrap="true"></nl-button>
</div>
</div>
</header>

<div class="hero inview hero--support" style="background-image: url(/img/hero/contact.jpg)">


   <div parallax-hero parallax-hero-fade-up>
    <div class="hero__content hero__content--perspective" >
      <div class="hero__content__title inview inview--fade-down">
        <div>Contact Us</div>
      </div>
    </div>
  </div>


</div>




  <div class="contact-alt" ng-if="['business'].includes(contact.purpose)">
    <p>For advertising and sponsorship inquiries, please review the <a href="/en/business/">Business</a> page and use <a href="https://nianticlabs.com/business/request/">this form</a> to contact us.</p>
  </div>

  <div class="contact-alt" ng-if="['game'].includes(contact.purpose)">
    <p>For game support, please review the <a href="/en/support/">Product Support</a> page.</p>
  </div>

  <div class="contact-alt" ng-if="['poi'].includes(contact.purpose)">
    <p>Please refer to the relevant form below for location removal or modification requests. Thank you!</p>
<ul>
<li><a href="https://www.pokemongolive.com/report-location">Pokémon GO</a></li>
<li><a href="https://ingress.com/support">Ingress</a></li>
</ul>
  </div>

  <div class="contact-alt" ng-if="['poibusiness'].includes(contact.purpose)">
    <p>Eligible US-based Small and Medium Businesses can apply for a Sponsored Location <a href="https://www.nianticlabs.com/sponsoredlocations">here</a>. For all other business locations please use <a href="https://nianticlabs.com/business/request/">this form</a> to contact us directly.</p>
  </div>

  <div class="contact-alt" ng-if="['security'].includes(contact.purpose)">
    <p>For vulnerability report, please visit <a href="https://vdp.nianticlabs.com/">vdp.nianticlabs.com</a></p>
  </div>

  <div class="contact-confirmation" ng-if="contact.submitted && contact.success">
    <p>Thank you! We have received your message and will be in touch soon.</p>
  </div>

  <div class="contact-confirmation"
      ng-if="contact.submitted && contact.error == 'unknown'">
    <p>Something went wrong, please try again.
    <p><button ng-click="contact.tryAgain()">Try again</button>
  </div>

  <div class="contact-confirmation"
      ng-if="contact.submitted && contact.error == 'need_agreement'">
    <p>Please review and agree to the privacy policy.
    <p><button ng-click="contact.tryAgain()">Try again</button>
  </div>
</div>  </main>
<footer class="footer">
<nav class="footer__sitemap">
<div class="footer__sitemap__content footer__sitemap__content--left">
<div class="footer__sitemap__columns">
<div class="footer__sitemap__columns__column">
<nl-heading size="h6" class="footer__sitemap__heading">
About
</nl-heading>
<ul class="footer__sitemap__links">
<li>
<nl-button class="footer__sitemap__links__link" label="The Niantic Story" variant="link" href="/about"></nl-button>
</li>
<li>
<nl-button class="footer__sitemap__links__link" label="Social Impact" variant="link" href="/social-impact"></nl-button>
</li>
<li>
<nl-button class="footer__sitemap__links__link" label="Research" variant="link" href="/research"></nl-button>
</li>
<li>
<nl-button class="footer__sitemap__links__link" label="Partnerships" variant="link" href="/business"></nl-button>
</li>
<li>
<nl-button class="footer__sitemap__links__link" label="News &amp; Events" variant="link" href="/news"></nl-button>
</li>
<li>
<nl-button class="footer__sitemap__links__link" label="Community Days" variant="link" href="https://community.day"></nl-button>
</li>
<li>
<nl-button class="footer__sitemap__links__link" label="Niantic Ventures" variant="link" href="/niantic-ventures"></nl-button>
</li>
<li>
<nl-button class="footer__sitemap__links__link" label="Niantic Supply" variant="link" href="/supply"></nl-button>
</li>
<li>
<nl-button class="footer__sitemap__links__link" label="Careers" variant="link" href="/careers"></nl-button>
</li>
</ul>
</div>
<nl-breakpoint>
<div class="footer__sitemap__columns__column" slot="mobile">
<nl-heading size="h6" class="footer__sitemap__heading">
Careers
</nl-heading>
<ul class="footer__sitemap__links">
<li>
<nl-button class="footer__sitemap__links__link" label="Life at Niantic" variant="link" href="/careers"></nl-button>
</li>
<li>
<nl-button class="footer__sitemap__links__link" label="Diversity &amp; Inclusion" variant="link" href="/careers/diversity"></nl-button>
</li>
<li>
<nl-button class="footer__sitemap__links__link" label="Open Positions" variant="link" href="/careers/openings"></nl-button>
</li>
</ul>
</div>
</nl-breakpoint>
</div>
</div>
<div class="footer__sitemap__content footer__sitemap__content--right">
<div class="footer__sitemap__columns">
<nl-breakpoint>
<div class="footer__sitemap__columns__column" slot="tablet-gt">
<nl-heading size="h6" class="footer__sitemap__heading">
Careers
</nl-heading>
<ul class="footer__sitemap__links">
<li>
<nl-button class="footer__sitemap__links__link" label="Life at Niantic" variant="link" href="/careers"></nl-button>
</li>
<li>
<nl-button class="footer__sitemap__links__link" label="Diversity &amp; Inclusion" variant="link" href="/careers/diversity"></nl-button>
</li>
<li>
<nl-button class="footer__sitemap__links__link" label="Open Positions" variant="link" href="/careers/openings"></nl-button>
</li>
</ul>
</div>
</nl-breakpoint>
<div class="footer__sitemap__columns__column">
<nl-heading size="h6" class="footer__sitemap__heading">
Developers
</nl-heading>
<ul class="footer__sitemap__links">
<li>
<nl-button class="footer__sitemap__links__link" label="Lightship ARDK" variant="link" href="https://lightship.dev/products/ardk/"></nl-button>
</li>
</ul>
</div>
<div class="footer__sitemap__columns__column">
<nl-heading size="h6" class="footer__sitemap__heading">
Products
</nl-heading>
<ul class="footer__sitemap__links">
<li>
<nl-button class="footer__sitemap__links__link" label="Our Products" variant="link" href="/products"></nl-button>
</li>
<li>
<nl-button class="footer__sitemap__links__link" label="Lightship" variant="link" href="https://lightship.dev"></nl-button>
</li>
<li>
<nl-button class="footer__sitemap__links__link" label="Wayfarer" variant="link" href="https://wayfarer.nianticlabs.com/"></nl-button>
</li>
<li>
<nl-button class="footer__sitemap__links__link" label="Offer Redemption" variant="link" href="https://rewards.nianticlabs.com"></nl-button>
</li>
<li>
<nl-button class="footer__sitemap__links__link" label="Product Support" variant="link" href="/support"></nl-button>
</li>
</ul>
</div>
<div class="footer__sitemap__columns__column">
<nl-heading size="h6" class="footer__sitemap__heading">
Help
</nl-heading>
<ul class="footer__sitemap__links">
<li>
<nl-button class="footer__sitemap__links__link" label="Product Support" variant="link" href="/support"></nl-button>
</li>
<li>
<nl-button class="footer__sitemap__links__link" label="Security" variant="link" href="/security"></nl-button>
</li>
<li>
<nl-button class="footer__sitemap__links__link" label="Contact us" variant="link" href="/contact"></nl-button>
</li>
<li>
<nl-button class="footer__sitemap__links__link" label="Niantic Kids Parent Portal" variant="link" href="https://parents.nianticlabs.com"></nl-button>
</li>
</ul>
</div>
</div>
</div>
</nav>
<nl-container size="wide">
<div class="footer__social">
<div class="footer__social__platforms">
<nl-icon class="footer__social__platform" name="social-youtube" color="gray-90" href="https://www.youtube.com/nianticlabs" aria-label="Visit the Niantic YouTube page"></nl-icon>
<nl-icon class="footer__social__platform" name="social-facebook" color="gray-90" href="https://www.facebook.com/nianticlabs" aria-label="Visit the Facebook YouTube page"></nl-icon>
<nl-icon class="footer__social__platform" name="social-twitter" color="gray-90" href="https://twitter.com/NianticLabs" aria-label="Visit the Niantic Twitter page"></nl-icon>
<nl-icon class="footer__social__platform" name="social-instagram" color="gray-90" href="https://www.instagram.com/nianticlabs/" aria-label="Visit the Niantic Instagram page"></nl-icon>
<nl-icon class="footer__social__platform" name="social-tiktok" color="gray-90" href="https://www.tiktok.com/@nianticlabs" aria-label="Visit the Niantic TikTok page"></nl-icon>
</div>
<nl-breakpoint>
<div class="language-selector" slot="tablet-gt">
<nl-icon class="language-selector__icon" name="globe" size="md"></nl-icon>
<select class="language-selector__select" onchange="window.location = this.value">
<option value="/en/contact/?hl=de">Deutsch</option>
<option selected="selected" value="/en/contact/?hl=en">English</option>
<option value="/en/contact/?hl=es">Español</option>
<option value="/en/contact/?hl=es_MX">Español (México)</option>
<option value="/en/contact/?hl=fr">Français</option>
<option value="/en/contact/?hl=it">Italiano</option>
<option value="/en/contact/?hl=ja">日本語</option>
<option value="/en/contact/?hl=ko">한국어</option>
<option value="/en/contact/?hl=nl">Nederlands</option>
<option value="/en/contact/?hl=pl">język polski</option>
<option value="/en/contact/?hl=pt_BR">Português</option>
<option value="/en/contact/?hl=ru">Русский</option>
<option value="/en/contact/?hl=sv">Svenska</option>
<option value="/en/contact/?hl=th">ไทย</option>
<option value="/en/contact/?hl=tr">Türkçe</option>
<option value="/en/contact/?hl=zh_Hant">中文</option>
</select>
<nl-icon class="language-selector__caret" name="caret-down" size="md"></nl-icon>
</div>
</nl-breakpoint>
</div>
</nl-container>
<nl-container size="wide">
<div class="footer__legal">
<div class="footer__legal__copyright">
<nl-text size="tiny" color="extended-gray-90">Copyright ©2012-2022 Niantic, Inc. All Rights Reserved.
<br>©2022 Niantic, Inc. ©2022 Pokémon. ©1995-2022 Nintendo / Creatures Inc. / GAME FREAK inc. Pokémon and Pokémon character names are trademarks of Nintendo.
</nl-text>
</div>
<div class="footer__legal__links footer__legal__links--legal">
<nl-button class="footer__legal__links__link" label="Terms" variant="link-sm" href="/terms" nowrap="true"></nl-button>
<nl-button class="footer__legal__links__link" label="Privacy" variant="link-sm" href="/privacy" nowrap="true"></nl-button>
<nl-button class="footer__legal__links__link" label="Legal" variant="link-sm" href="/legal" nowrap="true"></nl-button>
<nl-button class="footer__legal__links__link" label="Player Guidelines" variant="link-sm" href="/guidelines" nowrap="true"></nl-button>
</div>
</div>
<nl-breakpoint>
<div class="language-selector" slot="mobile">
<nl-icon class="language-selector__icon" name="globe" size="md"></nl-icon>
<select class="language-selector__select" onchange="window.location = this.value">
<option value="/en/contact/?hl=de">Deutsch</option>
<option selected="selected" value="/en/contact/?hl=en">English</option>
<option value="/en/contact/?hl=es">Español</option>
<option value="/en/contact/?hl=es_MX">Español (México)</option>
<option value="/en/contact/?hl=fr">Français</option>
<option value="/en/contact/?hl=it">Italiano</option>
<option value="/en/contact/?hl=ja">日本語</option>
<option value="/en/contact/?hl=ko">한국어</option>
<option value="/en/contact/?hl=nl">Nederlands</option>
<option value="/en/contact/?hl=pl">język polski</option>
<option value="/en/contact/?hl=pt_BR">Português</option>
<option value="/en/contact/?hl=ru">Русский</option>
<option value="/en/contact/?hl=sv">Svenska</option>
<option value="/en/contact/?hl=th">ไทย</option>
<option value="/en/contact/?hl=tr">Türkçe</option>
<option value="/en/contact/?hl=zh_Hant">中文</option>
</select>
<nl-icon class="language-selector__caret" name="caret-down" size="md"></nl-icon>
</div>
</nl-breakpoint>
</nl-container>
</footer>

<script src="/js/elements.esm.js" type="module"></script>
<script src="/js/main.esm.js" type="module"></script>
  <script>
    window.__ENV = 'prod';
    niantic.main();
  </script>

  <script type="module" src="https://storage.googleapis.com/nianticweb-ark/ark/ark.esm.js"></script>
  <script nomodule src="https://storage.googleapis.com/nianticweb-ark/ark/ark.js"></script>

<ark-cookiebar></ark-cookiebar><ark-analytics trackingid="UA-67195997-2"></ark-analytics>
<script>
  var trackOutboundLink = function(url) {
    ga('send', 'event', 'outbound', 'click', url, {
      'hitCallback': function () {
        document.location = url;
      }
    });
  }
</script></body>
</html>